body{
    font-family:sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    overflow-y: auto;
    height:25rem;
}

div.headerContainer{
    display: grid;
    grid-template-columns: 17% 60% 22%;
    border-bottom: 2px solid #0C356A;
 }
 .headerItem2{
    background-color: #0C356A;
 }

.headerItem2 > ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 29% 49% 30%;
    padding: 1rem 0rem;
    margin-top:0rem;
    margin-bottom:0.04rem;
    
}
div#headerItem4{
    display: grid;
    grid-template-columns: auto auto;
    background-color: gainsboro;
    width:80%;
    margin:auto;
    border-radius: 0.5rem;
}
input#searchField{
    background-color: gainsboro;
    border: none;
    border-radius: 0.5rem;
    width:100%
}
#searchField:focus{
    outline:2px solid black;
}

.bx-search{
    background-color: gainsboro;
    font-size:1.5rem;
    border-radius: 0.5rem;
    background-color:black;
    color:white;
}

div#new{
    width:20%;
    height: 100%;
    background-color:gainsboro;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    top:0;
    left:0;
    position: fixed;
    display:none;
}
button#modalSearch{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;
    display:none;
    position: fixed;
    bottom: 0;
}
li.firstList > a{
    text-decoration: none;
    font-size: 0.7rem;
    color:white;
   
    }
.bxl-graphql{
    font-size: 4rem;
    
    margin-left:-0.7rem;
}
span.extra1{
    font-size: 0.7rem;
  }
  .bx-moon{
    font-size:1.5rem;
  }
  .bx-plus-circle{
    font-size: 3rem;
  }
.headerItem3{
    text-align:center;
    margin-left: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.bodyContainer{
    height: 24rem;
    margin-top:-2rem;
}
div.bodyItem1{
    text-align: center;
    border-bottom: 2px solid #0C356A ;
    height: 10.5rem;
  }
p#first{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}
p#second{
    font-size: 1rem;
    color:#0C356A;
    margin-top:0rem;
    font-weight:bold;
    margin-top:-1.5rem;
}
p#third{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
  a.featureLinks + div.desc{
    background-color:black;
    font-size: 0.6rem;
    width: 15rem;
    color:white;
    display: none;
}
.featureLinksParent{
    line-height: 1.2;
}
.featureLinks{
    text-decoration: none;
}
.featureLinks:hover + .desc{
    display: block;
 }
p#fourth{
    font-size: 1.4rem;
    color:#0C356A;
    font-weight:bold;
    margin-top:5rem;
    font-style: italic;
   }
p#third{
    text-align: justify;
}
div.footerContainer{
    background-color: #0C356A;
    text-align: center;
    height: fit-content;
}
div.footerContainer > .footerItem1{
display: grid;  
grid-template-columns: 42% 20% 30%;
}
#fifth{
    font-size: 1.5rem;
    color: white;
}
@media (min-width:357px) {
    p#fourth{
        font-size: 1.4rem;
        color:#0C356A;
        font-weight:bold;
        margin-top:1rem;
        font-style: italic;
    }
   
    
    
}
@media (min-width:431px) {
    .headerItem2 > ul{
        list-style-type: none;
        display: grid;
        grid-template-columns: 29% 39% 30%;
       padding: 1rem 0rem;
        margin-top:0rem;
        margin-bottom:0.04rem;
        
    }
    .featureLinksParent{
        line-height: 1.9;
    }
    
    
}

@media (min-width:441px) {
    div#headerItem4{
        display: grid;
        grid-template-columns: 10% auto;
        background-color: gainsboro;
        width:80%;
        margin:auto;
        border-radius: 0.5rem;
    }
    
}

@media (min-width:760px) {
    div#headerItem4{
        display: grid;
        grid-template-columns: 8% auto;
        background-color: gainsboro;
        width:80%;
        margin:auto;
        border-radius: 0.5rem;
    }
    
}

